<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wid th, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e243949618.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<header>
    <!--Logo + barra de búsqueda-->
    <section class="flex-logo-search">
        <a href="http://localhost:3020/">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo empresearial">
        </a>
        <!--Barra de búsqueda-->
        <section class="input-search">
            <input type="text" placeholder="Buscar productos, marcas"> <i class="fa-solid fa-magnifying-glass"></i>
        </section>
         <!--título solo tablet y desktop-->
        <section class="titulo-centrado">
            <i class="fa-solid fa-hand-holding-dollar"></i> 
            <p>Compra en cuotas y sin tarjeta</p>
        </section>

    </section>
    
    
    
    <!--título centrado-->
    <section class="titulo-centrado">
        <i class="fa-solid fa-hand-holding-dollar"></i> 
        <p>Compra en cuotas y sin tarjeta</p>
    </section>
    
    <!--Menú-->
    <nav>
        <ul class="secciones">
            <li><a href="">Ofertas</a> </li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
             <li><a href="">Ayuda</a></li> 
        </ul>
        <ul class="secciones">
            <li><a href="register">Creá tu cuenta</a> <i class="fa-regular fa-address-card"></i> </li>
            <li><a href="login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
            <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>  
        </ul>
 
        <section  class="lugar-menu">
            <div class="menu">
                <i class="fa-solid fa-bars fa-xl"></i>
            </div>
        </section>

    </nav>
</header>   

<main>
    <section class="caja-login">
        <input type="text" name="nombre-usuario" placeholder="Ingresa tu Nombre de usuari@" class="input-login">
        <input type="password" name="password" placeholder="Ingresa una contraseña válidad" class="input-login">
        <button> Enviar</button>
    </section>
    

</main>
<footer>

</footer>
    
</body>
</html>